/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

   Modified by Ron Wollschläger
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	min-height: 100vh;
	line-height: 1;
	background-color: #020202;
	display: flex;
	justify-content: center;
	align-items: center;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Main CSS */
.card {
	position: relative;
	width: 300px;
	height: 150px;
	color: #fff;
	background: transparent;
	overflow: hidden;
	border: 1px solid rgba(255, 49, 49, 0.5);
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	gap: 1em;
	flex-direction: column;
	align-items: center;
	padding: 1em;
}

h1 {
	font-size: 1.5rem;
}

p {
	font-size: .8rem;
	text-align: center;
}

span {
	position: absolute;
	border-radius: 100vmax;
}

.top {
	top: 0;
	left: 0;
	width: 0;
	height: 2px;
	background: linear-gradient(90deg,
			transparent 50%,
			hsla(0, 0%, 100%, 0.5),
			hsl(0, 0%, 100%));
}

.bottom {
	right: 0;
	bottom: 0;
	height: 2px;
	background: linear-gradient(90deg,
			hsla(0, 0%, 100%, 0.5),
			hsl(0, 0%, 100%));
			transparent 50%);
}

.right {
	top: 0;
	right: 0;
	width: 2px;
	height: 0;
	background: linear-gradient(180deg,
			transparent 30%,
			hsla(0, 0%, 100%, 0.5),
			hsl(0, 0%, 100%));
}

.left {
	left: 0;
	bottom: 0;
	width: 2px;
	height: 0;
	background: linear-gradient(180deg,
			hsla(0, 0%, 100%, 0.5),
			hsl(0, 0%, 100%));
			transparent 70%);
}

.top {
	animation: animateTop 10s ease-in-out infinite;
}

.bottom {
	animation: animateBottom 10s ease-in-out infinite;
}

.right {
	animation: animateRight 10s linear infinite;
}

.left {
	animation: animateLeft 10s ease-in-out infinite;
}

@keyframes animateTop {
	25% {
		width: 100%;
		opacity: 1;
	}

	30%,
	100% {
		opacity: 0;
	}
}

@keyframes animateBottom {

	0%,
	50% {
		opacity: 0;
		width: 0;
	}

	75% {
		opacity: 1;
		width: 100%;
	}

	76%,
	100% {
		opacity: 0;
	}
}

@keyframes animateRight {

	0%,
	25% {
		opacity: 0;
		height: 0;
	}

	50% {
		opacity: 1;
		height: 100%;
	}

	55%,
	100% {
		height: 100%;
		opacity: 0;
	}
}

@keyframes animateLeft {

	0%,
	75% {
		opacity: 0;
		bottom: 0;
		height: 0;
	}

	100% {
		opacity: 1;
		height: 100%;
	}
}
